
@{
    ViewBag.Title = "ShowImage";
}

<h2>ShowImage</h2>
<h3>转化图片</h3>
    <img src="@Url.Action("ShowImage","ShowImgFromImgByte",new { id="5"})" />
    <span id="__kindeditor_bookmark_start_14__"></span>