
@{
    ViewBag.Title = "Ajax";
}

<h2>测试</h2>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<form enctype="multipart/form-data" id="formData">
    <div>
        <br /><br /><br />
        文件：<input type="file" id="filesp" name="filesp" /><br /><br />
        名称：<input type="text" id="fileName" name="fileName" /><br /><br />
        备注：<input type="text" id="txtRemake" name="txtRemake" /><br /><br />
        RelationId：<input type="number" id="txtRelationId" name="txtRelationId" /><br /><br />
        类型：<select id="selType" name="selType">
            <option value="1">动物</option>
            <option value="2">植物</option>
            <option value="3">妹子</option>
            <option value="3">风景</option>
            <option value="4">滑稽</option>
            <option value="100">其他</option>
        </select>
        <br /><br />
        <input type="button" id="btnSave" name="btnSave" value="提交" />
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var data = new FormData(document.getElementById("formData"));
            //参数
            var parame = JSON.stringify({ Name: $("#fileName").val(), Remark: $("#txtRemake").val(), Type: $("#selType").val(), RelationId: $("#txtRelationId").val() });
            data.append("ImageModelInfo", parame);
            $.ajax({
                type: "post",
                url: "http://localhost:52934/api/FileUp/FileUp",
                dataType: "json",
                data: data,
                async: true,
                contentType: false,//实体头部用于指示资源的MIME类型 media type 。这里要为false
                processData: false,//processData 默认为true，当设置为true的时候,jquery ajax 提交的时候不会序列化 data，而是直接使用data
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log("错误" + data);
                }
            });
        });
    });
</script>

